{% extends 'base.html.twig' %}

{% block title %}View Question{% endblock %}

{% block body %}
    <h3 class="text-center"> {{ question.question }}</h3>

    {% if question.body %}
        <div class="row text-center">
            <div class="col-8 offset-2">
                <div class="card">
                    <div class="card-body">
                        <p class="card-text">{{ question.body }}</p>
                    </div>
                    <div class="card-footer small">
                        By : {{ question.user.email }} - {{ question.created|date("m/d/Y h:i a") }}
                    </div>
                </div>
            </div>
        </div>
    {% endif %}

    {% if question.answers %}
        <hr>
        <h4 class="text-center">Response</h4>
        <br>
        <div class="row text-center">
            <div class="col-6 m-auto">
                {% for answer in question.answers %}
                    {% if answer.user.id == app.user.id %}
                    <div class="card mb-3 float-right">
                        <div class="card-body bg-success">
                            <p class="card-text text-light">{{ answer.body }}</p>
                        </div>
                        <div class="card-footer small">
                            From : {{ answer.user.email }} - {{ answer.created|date("m/d/Y h:i a") }}
                        </div>
                        </div>
                    {% else %}
                        <div class="card mb-3 float-left">
                            <div class="card-body bg-primary">
                                <p class="card-text text-light">{{ answer.body }}</p>
                            </div>
                            <div class="card-footer small">
                                From : {{ answer.user.email }} - {{ answer.created|date("m/d/Y h:i a") }}
                            </div>
                        </div>

                    {% endif %}
                    <br>
                {% endfor %}

            </div>
        </div>
    {% endif %}
    {% if is_granted('ROLE_AGENT') %}
        {% if answerForm %}
            <hr>
            <div class="row">
                <div class="col-8 offset-2">
                    {{ form(answerForm) }}
                </div>
            </div>
        {% endif %}
    {% endif %}

    {% if question.answers|length >= 1 %}
        {% if answerForm %}
            <hr>
            <div class="row">
                <div class="col-8 offset-2">
                    {{ form(answerForm) }}
                </div>
            </div>
        {% endif %}
    {% endif %}

{% endblock %}
